.PromoteBoardUpdate{
    width: 80%;
    min-width: 720px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 5px 4px 10px #ccc;
}