@charset "utf-8";

*{margin: 0; padding: 0;}
.clearfix::after{content: ""; display: block; clear: both;}
button{border: none; background:none;}
ul{list-style-type:none;}
li{text-decoration: none;}
a{text-decoration: none; color: black;}
body{background-color: #fff; width: 100vw; height: 100vh; font-family: 'TAEBAEKfont';}


/*********************색상*******************/


/*********************메인화면*******************/
.index_big_box{
    background-color: #f9f0de;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

span.up{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    height: 10px;
    background-color: #6f453e;
}

span.down{
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    z-index: 2;
    height: 10px;
    background-color: #6f453e;
}

.index_middle_box{
    width: 60%;
    position: relative;
}

.index_middle_box:last-child{
    width: 40%;
}

.index_textbox{
    max-width: 800px;
    margin: 0 auto;
    position: relative;
    top: 20%;
    transform: translateY(-50%);
}

.textbox_Left{
    padding-right: 10px;
    float: left;
    font-size: 40px;
    text-align: right;
    color: #9170a5;
}

.textbox_Right{
    border-left: 1px solid #f4a460;
    padding-left: 10px;
    float: left;
    font-size: 40px;
    position: relative;
    bottom: 50%;
    transform: translateY(25%);
}

.textbox_Right h2{
    -webkit-text-stroke: 1px #f4a460;
    color: transparent;
}

.textbox_Right .text_animation{
    font-size: 50px;
}

.text_animation span{
    position: relative;
}

.text_animation span::before{
    content: "PORTFOLIO";
    color: #f4a460;
    animation: words 20s infinite;
}

.text_animation span::after{
    content: "";
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    background-color: #f9f0de;
    border-left: 2px solid #f4a460;
    right: -8px;
    animation: cursor .8s infinite, typing 20s steps(10) infinite;
}

@keyframes cursor {
    to{
        border-left: 2px solid #f1637900;
    }
}

@keyframes words {
    0%, 20%{
        content: "PORTFOLIO";
    }

    21%, 40%{
        content: "DESIGN";
    }

    41%, 60%{
        content: "PORTFOLIO";
    }

    61%, 80%{
        content: "DESIGN";
    }

    81%, 100%{
        content: "PORTFOLIO";
    }
}

@keyframes typing {
    10%,15%,30%,35%,50%,55%,70%,75%,90%,95%{
        width: 0;
    }

    5%,20%,25%,40%,45%,60%,65%,80%,85%{
        width: calc(100% + 8px);
    }
}

.marquee_big_box{
    position: absolute;
    right: 0;
    display: flex;
    justify-content:flex-end;
}

.marquee_box{
    position: relative;
    height: 100%;
    writing-mode: vertical-rl;
    overflow: hidden;
}

.marquee_box .scroll{
    width: 100%;
    display: flex;
}

.marquee_box .scroll div{
    color: #f19072;
    font-size: 4em;
    background: #6f453e;
    white-space: nowrap;
    font-weight: 400;
    text-transform: uppercase;
    animation: animate 40s linear infinite;
}

.marquee_box .scroll div span{
    -webkit-text-stroke: 2px #f9f0de;
    color: transparent;
}

@keyframes animate{
    0%{
        transform: translateY(0);
    }

    100%{
        transform: translateY(-100%);
    }
}



/***********************왼쪽 박스*****************/
.index_small_box{
    display: flex;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    font-family: 'SUITE-Regular';
    background-color: #2a242c;
}

.small_textbox{
    width: 100%;
    height: 400px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.text_ani{
    position: relative;
    width: 100%;
    height: 100px;
    text-align: center;
}

.text_ani h2{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 5em;
    text-transform: uppercase;
    font-family: 'TAEBAEKfont';
}

.text_ani h2:nth-child(1){
    color: transparent;
    -webkit-text-stroke: 1px #f4a460;
}

.text_ani h2:nth-child(2){
    color: #f4a460;
    animation: animate2 4s ease-in-out infinite;
}

@keyframes animate2{
    0%, 100%{
        clip-path: polygon(0 49%, 14% 51%, 31% 58%, 52% 65%, 71% 65%, 90% 59%, 100% 53%, 100% 100%, 0% 100%);
    }
    50%{
        clip-path: polygon(0 59%, 15% 69%, 33% 72%, 50% 68%, 66% 53%, 83% 47%, 100% 49%, 100% 100%, 0% 100%);
    }
}

.ko_textbox{
    text-align: center;
    font-size: 22px;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
}

button.go_main{
    position: relative;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 40px;
}

button.go_main a{
    font-size: 1.8em;
    color: #fff;
    background-color: #fff;
    position: relative;
    letter-spacing: 0.1em;
    font-weight: 400;
    padding: 20px 30px;
    transition: 0.5s;
}

button.go_main a:hover{
    background: var(--clr);
    color: var(--clr);
}

button.go_main a:before{
    content: '';
    inset: 2px;
    background: #2a242c;
    position: absolute;
}

button.go_main a span{
    position: relative;
    z-index: 1;
}


/***********************미디어쿼리*******************/

@media all and (max-width:1553px) {
    .index_big_box{}
}