<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AdminPage</title>
</head>
<body>
    <h1>Admin Page</h1>
    <div>
        <!-- 세션에 저장된 사용자 이름을 출력 -->
        <!-- <p th:text="'Welcome, ' + ${session.authUser} + '!'"></p> -->
        <span th:text="${username}">Username</span>
        <!-- th:action="@{/filterdemo2/logout}"에서 변경 -->
        <form th:action="@{/logout}" method="post">
            <button type="submit">Logout</button>
        </form>
    </div>
</body>
</html>