<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
</head>
<body>
    <h1>Spring Security 수업 입니다.</h1>
    <ul>
        <li> /인증<a href="/back/filterDemo/main">main</a></li>
        <li>모든 사용자들이 Role의 권한이 ADMIN일 경우에만 인증이후 들어가는 경로<a href="/back/admin/manage">다른 경로[admin]</a></li>
        <li>=======================================</li>
        <li>.requestMatchers("/api/employees/**").permitAll() 모든 사용자들이 권한 없이 들어가는 경로. 인증없이 들어감 permitAll()때문에 인증없이 들어감 <a href="api/employees">api/employees</a></li>
        <li> /인증경로(LoginForm) <a href="api/other/test">다른 경로[admin]</a></li>
    </ul>
</body>
</html>