.transport-Img{
    background-color: #fff;
    overflow: hidden;
    height: 455px;
    width: 100%;
}

.transport-Img > img{
    width: 100%;
}

.transport-Titleimg::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); /* 50% 투명한 검은 배경 */
    z-index: -1; /* 배경 이미지 위, 텍스트 아래에 위치 */
}