*{margin: 0; padding: 0;}
.mypage{
    padding: 40px 30px; 
    max-width: 1000px; 
    margin: auto;
}
.mypage > h2{
    font-size: 30px;
    position: relative;
    margin-left: 15px;
    color: #234192;
}
.mypage > h2::before{
    position: absolute;
    content: "";
    width: 5px;
    height: 28px;
    background-color: #0a1f58;
    left: -15px;
    top: 50%;
    transform: translateY(-50%);
}

.mypage table{
    margin: 30px 0 60px 0;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #0a1f58;
}
.mypage tr{
    border-bottom: 1px solid #234192;
}
.mypage tr:last-child{
    border-bottom: none;
}
th,td{
    padding: 18px 0;
    font-size: 18px;
}
th{
    background-color: #0a1f58;
    color: #fff;
}
td{
    padding-left: 15px;
    color: #234192;
    font-size: 16px;
}

.mypage-box{
    width: 100%;
}
.mypage-box > p{
    font-size: 18px;
    margin-bottom: 22px;
    position: relative;
    margin-left: 15px;
    color: #234192;
    font-weight: 600;
}
.mypage-box > p::before{
    position: absolute;
    content: "";
    width: 4px;
    height: 17px;
    background-color: #0a1f58;
    left: -15px;
    top: 50%;
    transform: translateY(-50%);
}
.mypage-box .flexbox{
    display: flex;
    justify-content: space-between;
}
.mypage-box .left-box{
    width: 450px;
    height: 400px;
    padding: 30px;
    box-sizing: border-box;
    border: 1px solid #0a1f58;
    border-radius: 8px;
    overflow: hidden;
}
.mypage-box .left-box .imgBox{
    position: relative;
    width: 550px;
    height: 200px;
    bottom: 50%;
    right: -10%;
}
.mypage-box .left-box .imgBox > img{
    position: absolute;
    width: 100%;
    opacity: 0.6;
}
.mypage-box .left-box > span{
    font-size: 16px;
    color: #666;
}
.mypage-box .left-box > h2{
    margin-bottom: 8px;
    font-size: 32px;
    color: #333;
}
.mypage-box .left-box > p{
    font-size: 62px;
    font-weight: 800;
    color: #0a1f58;
    margin-top: 10px;
}
.mypage-box .left-box > p > span{
    font-size: 22px;
    display: inline-block;
    margin-left: 6px;
    color: #234192;
}
.mypage-box .right-box{
    width: 450px;
    height: 400px;
    padding: 30px;
    box-sizing: border-box;
    border: 1px solid #0a1f58;
    border-radius: 8px;
    overflow: hidden;
}
.mypage-box .right-box .imgBox{
    position: relative;
    width: 400px;
    height: 200px;
    bottom: 26%;
    right: -22%;
}
.mypage-box .right-box .imgBox > img{
    position: absolute;
    width: 100%;
    opacity: 0.6;
}
.mypage-box .right-box > span{
    font-size: 16px;
    color: #666;
}
.mypage-box .right-box > h2{
    margin-bottom: 8px;
    font-size: 32px;
    color: #333;
}
.mypage-box .right-box > p{
    font-size: 62px;
    font-weight: 800;
    color: #0a1f58;
    margin-top: 10px;
}
.mypage-box .right-box > p > span{
    font-size: 22px;
    display: inline-block;
    margin-left: 6px;
    color: #234192;
}